:root {
    --color-1: gray;
    --color-2: #CBA72D;
    --color-3: white;
    --color-4: rgb(245, 68, 68);
    --gradients: black maroon;
}
    
html {
    box-sizing: border-box;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.4;
}

* ,
* ::before ,
* ::after {
    box-sizing: inherit;
}


img {
    padding: 0;
    text-align: center;
    width: 100%;
    margin: 0;
    top: 0;
}

.img01 {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 40;
}


nav a,
ul {
    
    background-color: rgb(77, 9, 20);
    color: var(--color-1);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-size: calc(0.3rem + 1vw);
    font-weight: 100;
    line-height: 2.25;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%; 
    z-index: 50;
   
}


nav a:link,
nav a:visited {
    color: var(--color-3);
 
}

nav a:hover,
nav a:active {
    background-color: rgb(77, 9, 20);
    text-decoration: none;
    color: yellow;
    font-weight: 500;
}



.title {
    color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: calc(3rem + 1vw);
    letter-spacing: 0.7px;
    position: absolute;
    text-shadow: 3px 15px 6px black; 
    top: 130px;
    width: 100%;
    word-spacing: 3px;
}

@media (max-width:600px) {
    .title {
       font-size: calc(1.25rem + 1vw);
       top:50px;
       left: 0px;
   }
}

@media (max-width:320px) {

    .title {
         top: 10px;
    }

}



body {
    background-color: var(--color-1);
    background-size: cover;
    background-attachment: fixed;
    background-image: url(/img/grn-bkgrnd3.jpg);
    background-position: top;
    background-repeat: no-repeat;
    color: rgb(241, 213, 213);
    font-family: 'Poppins', sans-serif;
    font-size: calc(0.5rem + 1vw);
    font-weight: 300;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    z-index: 30;
}

#layer1 {
    background-color: rgba(1, 4, 12, 0.6);                                                
    color: white;
    height: max-content;
    margin: 0 auto;      
    padding: 0;
    position: relative;
    text-align: center; 
    width: 100%; 
    z-index: 20; 
} 




.main1 {
    
    font-size: normal;
    justify-content: center;
}


h1 {
    color: var(--color-2);
    text-align: center;
    font-size: var(--size-three);
    line-height: 1.5;
    padding: 5px;
}

h2 {
    color: var(--color-2);
    font-size: var(--size-two);
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: calc(0.8rem + 1vw);
    font-weight: 300;
    margin: 0 15px;
    line-height: 1.5;
}


.p1b {
    width: 40%;
}

.p0 {
    width: 70%;
}




footer {
    background-color: rgb(41, 4, 4);
    border-top: 7px solid var(--color-2);
}

footer a {
    color: var(--color-3);
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    line-height: 1.5;
    padding: 2px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}

footer a:hover,
footer a:active {
    color: var(--color-2);
    text-decoration: underline;
  
}



